* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  margin-top: 0;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: greenyellow;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
}
button:hover {
  background-color: white;
  color: greenyellow;
  border: 3px solid greenyellow;
}

/* #total {
  margin-top: 5px;
} */
